# Dependencies
node_modules
npm-debug.log*

# Build output
dist

# Git
.git
.gitignore

# Python
.venv
__pycache__
*.py[cod]

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Misc
*.log
README.md
LICENSE
